<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book Record</title>
    <link rel="stylesheet" href="{% static 'app_BMRapp/css/style.css' %}">
</head>
<body>
    <div id="header">
        <h1 >Book record Management</h1>
        <div id="nav">
            <a href="/app_BRMapp/view-books">View All</a>
            <a href="/app_BRMapp/new-book">Add New</a>
            <a href="/app_BRMapp/search-books">Search</a>
        </div>
    </div>
    <div id="main">
        <h2>Edit Book Record</h2>
        <form action="/app_BRMapp/edit" method="POST">
            {% csrf_token %}
            <input type="hidden" name="bookid" value="{{book.id}}">
            {{form}}
            <input type="submit" value="Save">
        </form>

    </div>
    
</body>
</html>