<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Book Recored</title>
    <link rel="stylesheet" href="{% static 'app_BMRapp/css/style.css' %}">
</head>
<body>
    <div id="header">
        <h1 >Book record Management</h1>
        <div id="nav">
            <a href="/app_BRMapp/view-books">View All</a>
            <a href="/app_BRMapp/new-book">Add New</a>
            <a href="/app_BRMapp/search-books">Search</a>
        </div>
    </div>
    <div id="main">
        <h2>View Book Record</h2>
        <table>
            <thead>
                <th>Book Title</th>
                <th>Book Price</th>
                <th>Book Author</th>
                <th>Book Publisher</th>
            </thead>

            {% for book in books %}
            <tr>
                <td>{{book.title}}</td>
                <td>{{book.price}}</td>
                <td>{{book.author}}</td>
                <td>{{book.publisher}}</td>
                <td><a class="btn" href="/app_BRMapp/edit-book?bookid={{book.id}}">Edit</a></td>
                <td><a class="btn" href="/app_BRMapp/delete-book?bookid={{book.id}}">Delete</a></td>

            </tr>
            {% endfor %}


        </table>


    </div>
    
</body>
</html>